.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 150px; 
  text-align: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  max-width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.product-card p {
  font-size: 0.9rem;
  margin: 5px 0;
}

.product-card a {
  font-size: 0.8rem;
  color: #007bff;
  text-decoration: none;
}

.product-card a:hover {
  text-decoration: underline;
}
